
SECRET_KEY=
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# alphavantage
ALPHA_VANTAGE_API_KEY=

# https://twelvedata.com/
TWELVE_DATA_API_KEY=


#stripe

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# resend email
RESEND_API_KEY=