# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/
historial_logs.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
historial_logs.txt

# Docker
.dockerignore

postgres_data/

# OS
.DS_Store
Thumbs.db