Django==5.0.3
djangorestframework==3.15.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Pillow==10.2.0
djangorestframework-simplejwt==5.5.1
requests
django-filter
redis
celery
django-celery-beat
yfinance
curl_cffi
stripe
daphne==4.1.0
channels==4.1.0
channels-redis==4.2.0
reportlab==4.4.10
drf-spectacular
django-allauth
dj-rest-auth
django-resend
resend
openpyxl
pytest-django
factory-boy
whitenoise==6.6.0
dj-database-url
